.swagger-ui .operation .content pre {
  background-color: #404145;
}

.content iframe {
  display: block;
  margin: 0 auto;
}

.content, .page-header {
  max-width: 800px;
}

.highlight pre {
  overflow-x: auto;
}

.highlight pre code {
  white-space: pre;
}

header {
  position: fixed;
  overflow-y: auto;
}
